<mat-spinner *ngIf="this.jsonData == null"></mat-spinner>
<mat-accordion *ngIf="jsonData != null">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" *ngFor="let app of jsonData">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="material-icons">api</span>
        {{app.name}} ({{app.group}})
      </mat-panel-title>
      <mat-panel-description>
        {{app.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--versions-->
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor="let version of app.versions"
                            class="versions" (click)="getDiff(app.name, version.version)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="versions__color">version: </span> {{version.version}}
          </mat-panel-title>
          <mat-panel-title>
            <span class="versions__color">status: </span> {{version.publicationStatus}}
          </mat-panel-title>
          <button mat-button *ngIf="version.publicationStatus == 'NEW'" class="dialog__button" (click)="openDialog()">Publish</button>
        </mat-expansion-panel-header>
          <!--Operations-->
        <button mat-button class="dialog__button" (click)="openDialog()">check differences</button>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false"
                               *ngFor="let operation of version.operations"
                               class="operations">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <span class="title"
                     [ngClass]="operation.method == 'GET' ? 'green' : operation.method == 'PATCH' ? 'yellow' : null">{{operation.method}}</span>
                <span class="path">{{operation.path}}</span>
              </mat-panel-title>
              <mat-panel-title>
               <span class="title">{{operation.externalOperationId}}</span>
              </mat-panel-title>
              <div class="tags">
                <p>Tags: <span *ngFor="let tag of operation.tags">{{tag.name}}, </span></p>
              </div>
            </mat-expansion-panel-header>

            <mat-expansion-panel class="request" *ngFor="let requestType of operation.request">
              <mat-expansion-panel-header>
                <mat-panel-title class="name"><span class="operations__text">Request type:</span> {{requestType.name}}</mat-panel-title>
                <mat-panel-description><span class="operations__text">Request content:</span> {{requestType.contentType}}</mat-panel-description>
              </mat-expansion-panel-header>
              <code><pre>{{requestType.definition }}</pre></code>
            </mat-expansion-panel>

            <mat-expansion-panel class="response" *ngFor="let response of operation.response">
              <mat-expansion-panel-header>
                <mat-panel-title class="name"><span class="operations__text">Response type:</span> {{response.name}}</mat-panel-title>
                <mat-panel-description>
                  <span class="operations__text">Response content: </span>
                  {{response.contentType}},
                  <span *ngIf="response.description">
                    <span class="operations__text" style="margin-left: 16px">Response description:</span>
                    {{response.description}}
                  </span></mat-panel-description>
              </mat-expansion-panel-header>
              <code><pre>{{response.definition}}</pre></code>
            </mat-expansion-panel>
          </mat-expansion-panel>
          <!--/Operations-->
      </mat-expansion-panel>
    <!--/verions-->
    <div class="tags">
      <p>Tags: <span *ngFor="let tag of app.tags">{{tag.name}}, </span></p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
