html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}
p {
  margin: 0;
  font-family: Poppins;
}
app-endpoints {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  background-color: #2a282c;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  position: relative;
  z-index: 10;
  justify-content: flex-start;
  margin-bottom: 40px ;
}
.logo {
  width: 250px;
}
.logo img {
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #2a282c;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: block;
  padding: 24px;
  position: relative;
  z-index: 10;
}
.footer .copyright {
  color: #ffffff;
  font-size: 12px;
}
.layout {
  height: 100%;
  margin-left: 6%;
  margin-right: 40px;
  min-height: 100vh;
}
.headline {
  margin-bottom: 40px;
}
.layout .headline h1 {
  font-weight: 400;
  font-size: 32px;
  color: #212121;
  font-family: Poppins;
}
.mat-expansion-panel-header,
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description{
  font-family: Poppins;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  align-items: center;
}
.mat-expansion-panel-header .material-icons {
  color: #000000;
  width: 24px;
  height: auto;
  margin-right: 16px;
}
.tags {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.tags p {
  margin: 0;
}
code pre {
  background-color: #212121;
  color: #4285f4;
  padding: 24px;
  border-radius: 4px;
  font-family: monospace;
}
.mat-expansion-panel:not([class*=mat-elevation-z]).versions {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}
.mat-expansion-panel:not([class*=mat-elevation-z]).operations {
  box-shadow: none;
}
.title {
  font-weight: 900;
  color: #4285f4;
}
.mat-typography h2 {
  font-weight: 200;
  font-size: 20px;
}
.versions__color{
  color: #4285f4
}
.versions__color,
.operations__text {
  font-weight: 700;
  margin-right: 8px;
}
.green {
  color: #34A853;
}
.yellow {
  color: #FBBC05;
}

/*
dialog
*/
.mat-dialog-container {
  min-width: 50vw;
}
.diff__item {
  padding: 24px;
  position: relative;
  border-radius: 4px;
}
.diff__item:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
}
/*.diff__item--adding {
  background-color: rgba(52, 168, 83, 1);
}
.diff__item--missing {
  background-color:  rgba(199, 0, 57, 1);
}
.diff__item--changed {
  background-color:  rgba(66, 133, 244, 1);
}
.diff__item--deprecated {
  background-color:  rgba(251, 188, 5, 1);
}*/
.diff__item--adding:before {
  content: '+';
  color: rgba(52, 168, 83, 1);
}
.diff__item--missing:before {
  content: '-';
  color: rgba(199, 0, 57, 1);
}
.diff__item--changed:before {
  content: 'o';
  color: rgba(66, 133, 244, 1);
}
.diff__item--deprecated:before {
  content: '*';
  color: rgba(251, 188, 5, 1);
}
.mat-typography h3 {
  margin-bottom: 2px;
}

